* {
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

.container {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica", "Arial", sans-serif;
}

#background {
  position: absolute;
  height: 200px;
  width: 500px;
  background: url("/assets/background.png") repeat-x;
  z-index: -1;
}

#game {
  width: 500px;
  height: 200px;
  position: relative;
  border: 1px solid black;
  color: white;
  overflow-x: hidden;
}

#character {
  width: 30px;
  height: 50px;
  background-color: #722f37;
  position: relative;
  top: 150px;
}

.score {
  position: absolute;
  right: 10%;
}

.max-points {
  color: #722f37;
}

.loser-message {
  display: none;
}

.face,
.deadface {
  width: 100%;
  height: 30px;
  position: absolute;
  top: -35%;
  object-fit: contain;
}

.deadface {
  display: none;
}

#block {
  width: 30px;
  height: 30px;
  position: relative;
  top: 120px;
  left: 470px;
}

.bug {
  width: 100%;
  height: 100%;
}

.start,
.again {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  color: #ffffff;
  border-radius: 15px;
}

.again {
  display: none;
}

.animateCharacter {
  animation: jump 0.5s linear;
}

.animateBlock {
  animation: block 1s infinite linear;
}

.slide {
  animation: slide 1s infinite linear;
}

@keyframes slide {
  100% {
    background-position: -500px 0; /* The image width */
  }
}

@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: -40px;
  }
}

@keyframes jump {
  0% {
    top: 150px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}
